$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~bootstrap/scss/bootstrap.scss';

@import 'styles/live-resume';

.h-center {
	display: flex;
	justify-content: center;
}

.v-center {
	display: flex;
	align-items: center;
}

.vh-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@page {
  size: A4;
  margin-top: 9mm;
  margin-bottom: 8mm;
  margin-left: 7mm;
  margin-right: 7mm;
}
@media print {
  body {
      width: 780px;
      overflow: hidden;
  }
  #container {
      max-width: 780px;
  }
}