@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~tailwindcss/dist/';

.h-center {
	display: flex;
	justify-content: center;
}

.v-center {
	display: flex;
	align-items: center;
}

.vh-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
